@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
  @apply outline-none ring-2 ring-pink-600 ring-offset-2 dark:ring-offset-slate-900;
}

button, a {
  touch-action: manipulation;
}

strong {
  font-weight: medium;
  @apply text-pink-600 dark:text-pink-500;
}

.preact-hint {
  --tooltip-bg-color: #000000;
  --tooltip-text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  .preact-hint {
    --tooltip-bg-color: #1e293b;
  }
}

.preact-hint__content {
  @apply rounded px-3 py-2;
}

.grid-cell:nth-child(1) {
  @apply rounded-tl-lg;
}

.grid-cell:nth-child(4) {
  @apply rounded-tr-lg;
}

.grid-cell:nth-child(13) {
  @apply rounded-bl-lg;
}

.grid-cell:nth-child(16) {
  @apply rounded-br-lg;
}

@keyframes ellipses {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  67% {
    content: '..';
  }
  100% {
    content: '...';
  }
}

.animate-ellipses:after {
  content: '';
  animation: ellipses 1s infinite alternate;
}
