@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
  @apply outline-none ring-pink-500 ring-offset-2 ring-2 dark:ring-offset-slate-900;
}

.preact-hint {
  --tooltip-bg-color: #000000;
  --tooltip-text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  .preact-hint {
    --tooltip-bg-color: #1e293b;
  }
}

.preact-hint__content {
  @apply px-3 py-2 rounded;
}

.grid > *:nth-child(1) {
  @apply rounded-tl-lg;
}

.grid > *:nth-child(4) {
  @apply rounded-tr-lg;
}

.grid > *:nth-child(13) {
  @apply rounded-bl-lg;
}

.grid > *:nth-child(16) {
  @apply rounded-br-lg;
}
