<div class="container text-center">
  <%= image_tag 'sad-triangle.svg', style: 'width: 10em' %>

  <h1>Game not found</h1>

  <p class="text-muted">Games are automatically deleted after 24 hours.</p>

  <p><a href="/" class="btn btn-dark">Go back</a></p>
</div>
