/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

.up-next {
  @include media-breakpoint-down(md) {
    height: 70px;
  }
}

.up-next-img {
  &.up-next-img-1 {
    @include media-breakpoint-up(md) {
      width: 100%;
    }

    @include media-breakpoint-down(md) {
      height: 100%;
    }

    opacity: 1;
  }

  &.up-next-img-2 {
    @include media-breakpoint-up(md) {
      width: 75%;
    }

    @include media-breakpoint-down(md) {
      height: 75%;
    }

    opacity: 0.75;
  }

  &.up-next-img-3 {
    @include media-breakpoint-up(md) {
      width: 50%;
    }

    @include media-breakpoint-down(md) {
      height: 50%;
    }

    opacity: 0.5;
  }
}

.board {
  background-color: $gray-300;
  position: relative;
}

.board-cell {
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  &.board-cell-empty {
    background-color: $gray-400;
  }

  &.board-cell-action {
    cursor: pointer;

    &:hover {
      background-color: $gray-200;
    }
  }

  &:not(.board-cell-empty) {
    background-color: $gray-100;
  }

  & > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.gameover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(255, 255, 255, 0.80);
}
