<p class="lead">We collect the following types of data.</p>

<ul>
  <li class="mb-2">
    <strong>Number of times each page is accessed.</strong> <br />
    This data is collected anonymously to a resolution of 1 hour. We store this data indefinitely for the purpose of site analytics.
  </li>

  <li class="mb-2">
    <strong>IP address and user agent.</strong> <br />
    This data is retained for up to 14 days in the interest of investigating and responding to abuse.
  </li>
</ul>

<p>All collected data is encrypted both in transit and at rest, and is not shared with any third parties.</p>

<p>You can contact us about this privacy policy at <a href="mailto:team@anderbell.studio">team@anderbell.studio</a>.</p>
