<%= javascript_pack_tag 'index' %>

<div
  id="app"
  data-game-id="<%= @game&.id %>"
  data-games-path="<%= games_path %>">

  <!-- Duplicated from Application.jsx -->
  <div class="container-fluid" style="max-width: 576px">
    <h1><a href="/" class="text-reset text-decoration-none">Triangles</a></h1>
    <p class="lead">3 players; 3 shapes; 3 in a line</p>
  </div>

</div>
